*.env

*__pycache__/
*.py[cod]
*.pyo
*.pyd
*.egg-info/
*.egg
*.whl
*.mypy_cache/
*.pytest_cache/
*.coverage
*.cover
*.hypothesis/
*.tox/
*.coverage.*
*.DS_Store
*.vscode/
*.idea/
*.ipynb_checkpoints
*.log
*.sqlite3
*.db
*.db-journal
*.csv
*.json

audio1913038809.m4a

chunked_audio/
transcriptions/